@{
    ViewBag.Title = "修改密码";
    string RSA_E = ViewBag.RSA_E;
    string RSA_M = ViewBag.RSA_M;
}
<script src="/js/BigInt.js"></script>
<script src="/js/Barrett.js"></script>
<script src="/js/RSA.js"></script>
<script src="/js/CodeManage.js"></script>
<div class="width90 blockC MT20 textL lineHeight1_5x">注意：密码应采用6-20位字符，由大小写英文和数字组成不能为中文</div>
<div class="part width100 whiteBkg MT20">
    <div class="width90 blockC">
        <ul class="width100 rowUl">
            <li class="borderB">
                <input type="password" class="width100 inputBox" placeholder="当前密码" id="oldPwd">
            </li>
            <li class="borderB">
                <input type="password" class="width100 inputBox" placeholder="新密码" id="newPwd">
            </li>
            <li>
                <input type="password" class="width100 inputBox" placeholder="确认密码" id="confirmPwd">
            </li>
        </ul>
    </div>
</div>
<div class="width90 blockC MT30 MB30"><a class="btnLarge bkgColor1 width100" onclick="UpdatePassWord('@(RSA_E)','@(RSA_M)')">确认</a></div>
<script src="/Scripts/Login.js"></script>
