@{
    ViewBag.Title = "会员登出";
}

<div class="width100 blockC">
    <div class="MT30 borderT borderB whiteBkg">
        <div class="width90 blockC">
            <ul>
                <li class="borderB">
                    <div class="inputArea positionR PB10">
                        账号从其他地方被登陆!
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="width90 blockC">
                <div class="btnArea MT20"><a class="btnLarge bkgColor1 width100" href="/Login/Login?fu=@(ViewBag.outUrl)" >去登陆</a></div>
    </div>
</div>
