@{
    string strCookie = HS.Framework.Common.Util.CookieUtil.GetCookieValue("HSManger", true);
    bool comissionCalc = false;
    if (!string.IsNullOrEmpty(strCookie))
    {
        WebManager.Models.Cookie_Model model = new WebManager.Models.Cookie_Model();
        model = Newtonsoft.Json.JsonConvert.DeserializeObject<WebManager.Models.Cookie_Model>(strCookie);
        comissionCalc = model.ComissionCalc;
    }
}

<input type="hidden" value="@(comissionCalc.ToString())" id="txtHiddenCom"/>
<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 19)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="#">首页</a></li>
                <li class="active">订单高级编辑</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>订单高级编辑</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i></a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i></a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i></a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">
            <ul class="nav nav-tabs">
                <li class="active" role="presentation">
                    <a data-toggle="tab" role="tab" href="#tab1" aria-expanded="true">订单编辑</a></li>
                <li role="presentation">
                    <a data-toggle="tab" role="tab" href="#tab2">服务编辑</a></li>
                <li role="presentation">
                    <a data-toggle="tab" role="tab" href="#tab3">交付编辑</a></li>
                <li role="presentation">
                    <a data-toggle="tab" role="tab" href="#tab4">支付编辑</a></li>
                <li role="presentation">
                    <a data-toggle="tab" role="tab" href="#tab5">充值直扣编辑</a></li>
            </ul>

            <div class="tab-content order-table">

                <!--编辑订单-->
                <div aria-labelledby="home-tab" id="tab1" class="tab-pane fade in active" role="tabpanel">
                    <div class="form-group navbar-form">
                        <div class="input-group">
                            <input id="input_orderCode" type="tel" class="form-control" placeholder="搜索订单编号">
                            <span class="input-group-btn">
                                <a class="btn btn-default" onclick="getOrderInfo()">
                                    <i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>

                    <div id="OrderDetail" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                            </colgroup>
                            <tr>
                                <th>订单编号</th>
                                <td id="OrderCode"></td>
                                <th>开单门店</th>
                                <td id="OrderBranchName"></td>
                            </tr>
                            <tr>
                                <th>项目名称</th>
                                <td id="OrderProductName"></td>
                                <th>开单人</th>
                                <td id="OrderCreatorName"></td>
                            </tr>
                            <tr>
                                <th>开单时间</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="OrderOrderTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss' })" placeholder="下单时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                                <th>顾客姓名</th>
                                <td id="OrderCustomerName"></td>
                            </tr>
                            <tr>
                                <th>有效期</th>
                                <td id="OrderExpirationTime"></td>
                                <th>美丽顾问</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <select id="OrderResponsiblePerson" class="form-control noradius">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>数量</th>
                                <td id="OrderQuantity"></td>
                                <th>订单转入</th>
                                <td id="OrderIsPast"></td>
                            </tr>
                            <tr>
                                <th>小计</th>
                                <td id="OrderTotalOrigPrice"></td>
                                <th>订单状态</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <select id="OrderStatus" class="form-control noradius" onselect="getAccountList()">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>成交价</th>
                                <td id="OrderTotalSalePrice"></td>
                                <th>支付状态</th>
                                <td id="OrderPaymentStatus"></td>
                            </tr>
                            <tr>
                                <th>使用优惠券</th>
                                <td id="OrderBenefit"></td>
                            </tr>
                        </table>
                        <br>
                        <table class="table table-hover table-bordered ">

                            <thead>
                                <tr>
                                    <th class="txtC">支付时间</th>
                                    <td class="txtC">支付编号</td>
                                </tr>
                            </thead>
                            <tbody class="txtC" id="tbOrderPaymentDetail"></tbody>
                        </table>
                        <br />
                        <div class="clearfix">
                            <a class="btn btn-primary" onclick="SaveOrderEdit()"><i class="fa b-save"></i>编辑保存</a>
                            <a class="btn cancelbtnstyle" onclick="CancelOrder()"><i class="fa b-save"></i>取消订单</a>
                        </div>
                    </div>
                </div>

                <!--编辑服务-->
                <div aria-labelledby="profile-tab" id="tab2" class="tab-pane fade" role="tabpanel">
                    <div class="form-group navbar-form">
                        <div class="input-group">
                            <input id="input_GroupNo" type="tel" class="form-control" placeholder="搜索服务编号">
                            <span class="input-group-btn">
                                <a class="btn btn-default" onclick="gettTGInfo()">
                                    <i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>

                    <div id="TGDetail" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                            </colgroup>
                            <tr>
                                <th>服务编号</th>
                                <td id="TGNo"></td>
                                <th>服务名称</th>
                                <td id="TGName"></td>
                            </tr>
                            <tr>
                                <th>服务顾问</th>
                                <td>
                                    <div class="btn-group width100P  no-padding-left">
                                        <select id="TGServicePIC" class="form-control noradius">
                                        </select>
                                    </div>
                                </td>
                                <th>服务状态</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <select id="TGStatus" class="form-control noradius" onchange="EditTreatmentStatus()">
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>开始时间</th>
                                <td>
                                    @**@
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="TGStartTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss', nextF: true })" placeholder="开始时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                                <th>结束时间</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="TGEndTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss' })" placeholder="结束时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table class="table table-hover table-bordered txtC">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                                <col class="col-xs-2">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txtC">操作内容</th>
                                    <th class="txtC">人员</th>
                                    <th class="txtC">开始时间</th>
                                    <th class="txtC">结束时间</th>
                                    <th class="txtC">状态</th>
                                </tr>
                            </thead>
                            <tbody id="tbTGDetail"></tbody>
                        </table>
                        <br>
                        <div class="clearfix">
                            <a class="btn btn-primary" onclick="EditTG()"><i class="fa b-undo"></i>编辑服务</a>
                            <a class="btn cancelbtnstyle" onclick="CancelTG()"><i class="fa b-undo"></i>取消服务</a>
                        </div>
                    </div>

                </div>


                <!--编辑交付-->
                <div aria-labelledby="profile-tab" id="tab3" class="tab-pane fade" role="tabpanel">
                    <div class="form-group navbar-form">
                        <div class="input-group">
                            <input id="input_DeliveryCode" type="tel" class="form-control" placeholder="搜索交付编号">
                            <span class="input-group-btn">
                                <a class="btn btn-default" onclick="getDeliveryInfo()">
                                    <i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>

                    <div id="DeliveredDetail" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                            </colgroup>
                            <tr>
                                <th>交付编号</th>
                                <td id="DeliveredNo"></td>
                                <th>商品名称</th>
                                <td id="DeliveredCommodityName"></td>
                            </tr>
                            <tr>
                                <th>服务顾问</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <select id="DeliveredPersonPIC" class="form-control noradius">
                                        </select>
                                    </div>
                                </td>
                                <th>交付状态</th>
                                <td id="DeliveredStatus"></td>
                            </tr>
                            <tr>
                                <th>开始时间</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="DeliveryStartTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss' })" placeholder="下单时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                                <th>结束时间</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="DeliveryEndTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss' })" placeholder="下单时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br>
                        <div class="clearfix">
                            <a class="btn btn-primary" onclick="EditDelivery()"><i class="fa b-undo"></i>编辑交付</a>
                            <a class="btn cancelbtnstyle" onclick="CancelDelivery()"><i class="fa b-undo"></i>取消交付</a>
                        </div>
                    </div>
                </div>


                <!--编辑支付-->
                <div aria-labelledby="profile-tab" id="tab4" class="tab-pane fade" role="tabpanel">
                    <div class="form-group navbar-form">
                        <div class="input-group">
                            <input id="input_paymentCode" type="tel" class="form-control" placeholder="搜索支付编号">
                            <span class="input-group-btn">
                                <a class="btn btn-default" onclick="getPaymentInfo(0)">
                                    <i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>



                    <div id="PaymentDetail" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                            </colgroup>
                            <tr>
                                <th>支付编号</th>
                                <td id="PaymentCode"></td>
                                <th>支付金额</th>
                                <td id="PaymentAmount"></td>
                            </tr>
                            <tr>
                                <th>操作人</th>
                                <td id="PaymentCreatorName"></td>
                                <th>支付时间</th>
                                <td>
                                    <div class="btn-group width100P no-padding-left">
                                        <span class="input-icon icon-right time-layer">
                                            <input id="PaymentTime" onclick="laydate({ istime: true, format: 'YYYY-MM-DD hh:mm:ss' })" placeholder="下单时间" class="form-control date-picker">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table class="table table-hover table-bordered txtC">
                            <colgroup class="row">
                                <col class="col-xs-4">
                                <col class="col-xs-4">
                                <col class="col-xs-4">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txtC">支付方式</th>
                                    <th class="txtC">支付金额</th>
                                    <th class="txtC">
                                        <div class="FR input-group radio width100P">
                                            <span class="FL input-group">业绩折算率</span>
                                            <label>
                                                <input type="radio" id="radioCheckY" name="1">
                                                <span class="text">使用</span>
                                            </label>
                                            <label>
                                                <label>
                                                    <input type="radio" id="radioCheckN" name="1">
                                                    <span class="text">不使用</span>
                                                </label>
                                            </label>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbPaymentDetail"></tbody>
                        </table>

                        <br />
                        <table class="table table-hover table-bordered" id="tbPorfit">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-14">
                            </colgroup>
                            <tr>
                                <th style="text-align: center;" id="trFirstPorfit" rowspan="1">业绩参与</th>
                                <!--注上面的rowspan="这里的数字随下面的业绩参与人的数量变化" ，第一行是所有业绩人员，第二行开始是所有业绩人的列表，数字其实是表格的总行数，顾数字应为人数加1-->
                                <td>
                                    <span class="MR5P"></span>
                                    <a class="btn btn-default btn-sm site-r" data-toggle="modal" data-target=".bs-example-modal-sm" onclick="Reselected()"><i class="fa fa-edit"></i>编辑</a>
                                </td>
                            </tr>
                        </table>

                        <br />
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-14">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>订单编号</th>
                                    <th class="txtL">项目名称</th>
                                </tr>
                            </thead>
                            <tbody id="tbPaymentOrderList">
                            </tbody>
                        </table>
                        <br />
                        <div class="clearfix">
                            <a class="btn btn-primary" onclick="SavePaymentEdit()"><i class="fa b-save"></i>编辑保存</a>
                            <a class="btn cancelbtnstyle" onclick="CancelPayment()" id="btnCancelPayment"><i class="fa b-save"></i>取消支付</a>
                        </div>
                    </div>
                </div>

                <!--充值直扣编辑-->
                <div aria-labelledby="profile-tab" id="tab5" class="tab-pane fade" role="tabpanel">
                    <div class="form-group navbar-form">
                        <div class="input-group">
                            <input id="input_BalanceCode" type="tel" class="form-control" placeholder="输入充值直扣编号">
                            <span class="input-group-btn">
                                <a class="btn btn-default" onclick="getBalanceInfo()">
                                    <i class="fa fa-search"></i></a>
                            </span>
                        </div>
                    </div>

                    <div id="BalanceDetail" style="display: none;">
                        <table class="table table-hover table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                                <col class="col-xs-2">
                                <col class="col-xs-4">
                            </colgroup>
                            <tr>
                                <th>交易编号</th>
                                <td id="BalanceCode"></td>
                                <th>操作人</th>
                                <td id="BalanceOperator"></td>
                            </tr>
                            <tr>
                                <th>交易时间</th>
                                <td id="BalanceCreateTime"></td>
                                <th>总额</th>
                                <td id="BalanceAmount"></td>
                            </tr>
                            <tr>
                                <th>交易类型</th>
                                <td id="BalanceChangeTypeName"></td>
                                <th></th>
                                <td id=""></td>
                            </tr>
                        </table>
                        <br />

                        <h3>业绩参与</h3>
                        <table class="table table-hover table-bordered" id="tbPorfitBalance">
                            <colgroup class="row">
                                <col class="col-xs-2">
                                <col class="col-xs-14">
                            </colgroup>
                            <tr>
                                <th style="text-align: center;" id="trFirstPorfitBalance" rowspan="1">业绩参与</th>
                                <!--注上面的rowspan="这里的数字随下面的业绩参与人的数量变化" ，第一行是所有业绩人员，第二行开始是所有业绩人的列表，数字其实是表格的总行数，顾数字应为人数加1-->
                                <td>
                                    <span class="MR5P"></span>
                                    <a class="btn btn-default btn-sm site-r" data-toggle="modal" data-target=".bs-example-modal-sm" onclick="Reselected()" id="btnBalanceEdit"><i class="fa fa-edit"></i>编辑</a>
                                </td>
                            </tr>
                        </table>
                        <br />

                        <h3>目标账户</h3>
                        <table class="table table-hover table-bordered txtC">
                            <colgroup class="row">
                                <col class="col-xs-3">
                                <col class="col-xs-3">
                                <col class="col-xs-3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txtC">账户名</th>
                                    <th class="txtC">变动金额</th>
                                    <th class="txtC">余额</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="BalanceCardName"></td>
                                    <td id="BalanceRechareAmount"></td>
                                    <td id="BalanceLastAmount"></td>
                                </tr>
                            </tbody>
                        </table>
                        <br />

                        <h3>赠送一览</h3>
                        <table class="table table-hover table-bordered txtC">
                            <colgroup class="row">
                                <col class="col-xs-3">
                                <col class="col-xs-3">
                                <col class="col-xs-3">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th class="txtC">账户名</th>
                                    <th class="txtC">变动金额</th>
                                    <th class="txtC">余额</th>
                                </tr>
                            </thead>
                            <tbody id="tbBalanceSendList"></tbody>
                        </table>
                        <br />
                        <div class="clearfix">
                            <a class="btn btn-primary" onclick="EditBalance()"><i class="fa b-undo"></i>编辑保存</a>
                            <a class="btn cancelbtnstyle" id="btnCancelBalance" onclick="CancelBalance()"><i class="fa b-undo"></i>撤销</a>
                        </div>
                    </div>
                </div>



                <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                <h4 class="modal-title" id="mySmallModalLabel">选择接受人</h4>
                            </div>
                            <div class="modal-body">
                                <div class="select-down">
                                    <table class="table table-striped table-hover" id="tbSales">
                                        <tr>
                                            <td class="no-border">
                                                <span class="checkbtn">
                                                    <label title="全选" class="btn-group no-pm">
                                                        <input type="checkbox" onclick="allcheck()" class="btn-group" name="chk_All" id="chk_All">
                                                        <span class="text"><strong>全选</strong></span>
                                                    </label>
                                                </span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <a data-toggle="modal" data-target=".bs-example-modal-sm" class="btn btn-primary" onclick="selectProfits()">确 定</a>
                                </div>
                                <br>
                                <br>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <input type="hidden" id="hiddenData" />
            </div>
        </div>
        <!-- /Page Body -->
    </div>
</div>
<script src="/Script/OrderNew.js" type="text/javascript"></script>
<script src="/assets/js/datetime/bs-datepicker.js" type="text/javascript"></script>
