@{
    List<Model.Table_Model.Commission_Account_Model> listAccount = new List<Model.Table_Model.Commission_Account_Model>();
    if (ViewBag.AccountList != null)
    {
        listAccount = ViewBag.AccountList;
    }
}


<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 28)
    <!-- /Page Sidebar -->
    <!-- Page Content -->

    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li>业绩提成</li>
                <li>员工列表</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>员工列表</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">

            <div class="form-group navbar-form">
                <div class="input-group">
                    <input id="txtInputSearch" type="text" class="form-control" style="min-width: 195px;" placeholder="请输入员工名字" >
                    <span class="input-group-btn">
                        <a class="btn btn-default" onclick="SearchAccount()"><i class="fa fa-search"></i></a>
                    </span>
                </div>
             @*   <div class="input-group item-time FR PT10 PR10 Font18px databox-number">
                    <span class="databox-number sky"></span>
                    <span class="databox-text darkgray"></span>
                    <span class="databox-number sky">0</span>
                    <span class="databox-text darkgray">/</span>
                    <span class="databox-text darkgray">0</span>
                </div>*@
            </div>
            <div class="widget-body no-padding">
                <table class="table table-hover table-striped">
                    <colgroup class="row">
                        <col class="col-xs-1">
                        <col class="col-xs-5">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                        <col class="col-xs-2">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>编号</th>
                            <th>员工信息</th>
                            <th>销售提成</th>
                            <th>操作提成</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (listAccount != null && listAccount.Count > 0)
                        {
                            int index = 0;
                            foreach (Model.Table_Model.Commission_Account_Model item in listAccount)
                            {
                                index++;
                            <tr id="@(item.AccountID)">
                                <td>@(index)</td>
                                <td>
                                    <div class="over-text">
                                        <img name="AccHead"  data-original="@(string.IsNullOrEmpty(item.HeadImageFile) ? "/assets/img/pic70.png" : item.HeadImageFile)" alt="" class="pull-left img-thumbnail s-img">
                                        姓名：@(item.AccountName)
                                    </div>
                                </td>

                                @switch (item.CommPatternSales)
                                {
                                    case 1:
                                    <td>按基础项目</td>
                                        break;
                                    case 2:
                                    <td>按业绩目标</td>
                                        break;
                                    default:
                                    <td></td>
                                        break;
                                }
                                
                                @switch (item.CommPatternOperate)
                                {
                                    case 1:
                                    <td>按基础项目</td>
                                        break;
                                    case 2:
                                    <td>按业绩目标</td>
                                        break;
                                    default:
                                    <td></td>
                                        break;
                                }
                            
                                <td>
                                    <a href="/Commission/EditAccount?e=1&aId=@(item.AccountID)" class="btn btn-default btn-sm"><i class="fa fa-edit"></i>编辑</a>
                                    <a href="/Commission/EditAccount?aId=@(item.AccountID)" class="btn btn-default btn-sm"><i class="fa fa-sliders"></i>详情</a>
                                </td>
                            </tr> 
                            }
                        }
                    </tbody>
                </table>
            </div>
   @*         <br>
            <nav>
                <ul class="pagination">
                    <li class="disabled"><a aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>*@

        </div>
        <!-- /Page Body -->

    </div>
    <!-- /Page Content -->
</div>
<script src="/Script/Commission.js"></script>
<script src="/assets/js/jquery.lazyload.min.js"></script>
<script>
    $(function () {
        $('img[name="AccHead"]').lazyload({
            effect: "fadeIn"
        });
    });

</script>