@{
    ViewBag.Title = "test";
}


        
        <!-- Page Body -->
        <div class="page-body">
            

            <div class="widget">
                <div class="widget-body no-padding">
                    <table class="table table-hover table-striped">
                        <colgroup class="row">
                            <col class="col-xs-1">
                            <col class="col-xs-11">
                        </colgroup>
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>
	                              <label>
	                                   <input id="chk_All" name="chk_All" type="checkbox" class="btn-group no-pm" onclick="">
	                                    <span class="text"><strong>员工姓名</strong></span>
	                               </label>  
	                            </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                	<label>
                                	      <input type="checkbox" onclick="">
                                	      <span class="text">赵自强</span>
                                	 </label> 
	                             </td> 
                            </tr>

                            <tr>
                                <td>1</td>
                                <td>
                                	<label class="">
                                	      <input type="checkbox" onclick="">
                                	      <span class="text">赵自强</span>
                                	 </label> 
	                             </td> 
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>
                                	<label class="">
                                	      <input type="checkbox" onclick="">
                                	      <span class="text">赵自强</span>
                                	 </label> 
	                             </td> 
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <div class="col-sm-offset-2 col-sm-10 no-padding-left">
                        <button type="submit" class="btn btn-primary" onclick="UpdateCommoditySort()">确 定</button>
                        <a href="#" class="btn btn-default"> 返 回 </a>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

        </div>
        <!-- /Page Body -->


<script src="/Script/Commodity.js"></script>
<!--排序脚本开始-->
<script src="/assets/js/sortable.js"></script>
<script>
    (function () {
        var console = window.console;

        if (!console.log) {
            console.log = function () {
                alert([].join.apply(arguments, ' '));
            };
        }
        window.x = new Sortable(foo, {
            group: "words",
            //store: {
            //    get: function (sortable) {
            //        var order = localStorage.getItem(sortable.options.group);
            //        return order ? order.split('|') : [];
            //    },
            //    set: function (sortable) {
            //        var order = sortable.toArray();
            //        localStorage.setItem(sortable.options.group, order.join('|'));
            //    }
            //},
            //onAdd: function (evt) { console.log('onAdd.foo:', evt.item); },
            //onUpdate: function (evt) { console.log('onUpdate.foo:', evt.item); },
            //onRemove: function (evt) { console.log('onRemove.foo:', evt.item); },
            //onStart: function (evt) { console.log('onStart.foo:', evt.item); },
            //onEnd: function (evt) { console.log('onEnd.foo:', evt.item); }
        });


        //[].forEach.call(multi.getElementsByClassName('tile__list'), function (el) {
        //    new Sortable(el, { group: 'photo' });
        //});
    })();
</script>

