<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.com.antika.business"
    android:versionCode="6"
    android:versionName="4.6.027">
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <!-- JPUSH -->
    <permission
        android:name="cn.com.antika.business.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="cn.com.antika.business.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <application
        android:name="cn.com.antika.application.UserInfoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateHidden" >
      <provider
          android:name="android.support.v4.content.FileProvider"
          android:authorities="cn.com.antika.business.fileprovider"
          android:exported="false"
          android:grantUriPermissions="true" >
       <meta-data
           android:name="android.support.FILE_PROVIDER_PATHS"
           android:resource="@xml/file_paths" />
      </provider>
       <meta-data  
        android:name="com.baidu.lbsapi.API_KEY"  
        android:value="mbgIgTkGXgXSgkqKnavuWNIlcG58evh6"/>
        <activity
            android:name="cn.com.antika.business.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" 
            android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.achartengine.GraphicalActivity" />
        <activity
            android:name="cn.com.antika.business.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.HomePageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.CompanySelectActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan|stateHidden">
        </activity>
        <activity
            android:name="cn.com.antika.business.RemindListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddNewCustomerActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerBasicInfoActivity"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditCustomerBasicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditCustomerDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddCustomerRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditCustomerRecordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddNewCustomerVocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditCustomerVocationActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ServiceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CommodityCategoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OpportunityListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CommodityListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="cn.com.antika.business.CommodityDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OpportunityDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OpportunityDetailMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OpportunityHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditOpportunityProgressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditProgressHistoryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ChoosePersonActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderDetailActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentServiceDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentGroupDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentTreatmentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ServiceOrderContactDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditServiceOrderContactDetailMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditTreatmentTreatmentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EMarketingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.SendNewEmarketingMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.SendMarketingTemplateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddMessageTemplateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditMessageTemplateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.FlyMessageListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.FlyMessageDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="cn.com.antika.business.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.SettingPersonalMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AboutUsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditPersonalMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditPersonalPasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CropImageViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerEcardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EcardHistoryListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AllEcardHistoryListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddNewCustomerEcardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditEcardBalanceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EditEcardTypeOtherBalanceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.DecodeQRCodeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ChooseServicePeopleActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ReportMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ReportByDateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ReportListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ReportDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ServiceListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" 
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
            android:name="cn.com.antika.business.FavoriteListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ServiceDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PrepareOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
         <activity
            android:name="cn.com.antika.business.ProductAndOldOrderListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        
        <activity
            android:name="cn.com.antika.business.CustomerViewOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerUnpaidOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentReviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentActionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.MemorySpaceActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity
            android:name="cn.com.antika.business.EcardHistoryOrderListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>-->
        <activity
            android:name="cn.com.antika.business.EcardMoneyOut"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EcardTypeOtherMoneyOut"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ReportTotalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.Company"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.NoticeListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AccountDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AccountListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.NoticeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppDownloadActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.NotepadListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddNoteActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.LabelListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddLabelActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentRecordListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentRecordDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.RechargeDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderPaymentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EcardDiscountDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.UnpaidCustomerListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerAdvancedConditionActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--订单的高级筛选-->
        <activity
            android:name="cn.com.antika.business.OrderAdvancedSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderSearchNewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerEcardBalanceChangeAnalyticsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ServiceAndProductSalesAnalyticsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OpportunityAdvancedSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AddOpportunityConfirmActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerRecordTemplateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ChooseCustomerRecordTemplateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerEcardListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.EcardHistoryDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.CustomerServicingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.UnfishTGListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.UnFinishTGOrderAdvancedSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ChoosePersonLocalActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.BranchTotalReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentTaskListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentCreateActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.VisitTaskSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.AppointmentCusOldOrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--<activity
            android:name="cn.com.antika.business.AppointmentTaskSearchNewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>-->
        <activity
            android:name="cn.com.antika.business.AppointmentSearchNewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderListTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TodayServiceListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentTaskDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentGroupDetailTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentGroupReviewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentActionThirdPartActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentActionThirdPartModeActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.PaymentActionThirdPartResultActivity"
            android:launchMode="standard"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.OrderDetailThirdPartPayListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.ThirdPartPayHelpActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderRefundActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerStatisticsMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerStatisticsPieActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerStatisticsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerStatisticsBarChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerStatisticsBarChartDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.OrderSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TaskListTabActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.VisitTaskListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AppointmentTaskSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TreatmentGroupTreatmentDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerServicingPhotoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerBenefitsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.CustomerBenefitDetailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.TodayServiceSearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--转卡界面  将客户老卡转到新卡-->
        <activity
            android:name="cn.com.antika.business.AssignToNewCustomerEcardActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--考勤界面-->
        <activity
            android:name="cn.com.antika.business.AccountAttendanceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.AccountAttendanceCodeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <!--电子签名界面-->
        <activity
            android:name="cn.com.antika.view.sign.HandwritingActivity"
            android:screenOrientation="landscape">
         </activity>
         <!--门店数据统计分析-->
        <activity
            android:name="cn.com.antika.business.BranchStatisticsMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchBusinessConditionsBarChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchBusinessConditionsStatisticsBarChartDetailListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchEmployeeBusinessMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchEmployeeBusinessStatisticsPieActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchEmployeeBusinessListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchProductStatisticsMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchProductStatisticsPieActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchProductStatisticsListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchEmployeeBusinessDetailBarChartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.MyReportMainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
         <activity
            android:name="cn.com.antika.business.MyReportPercentageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="cn.com.antika.business.BranchJournalReportActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="cn.com.antika.business" />
            </intent-filter>
        </activity>
        
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="cn.com.antika.business" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name="cn.com.antika.Jpush.JpushMessageReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <category android:name="cn.com.antika.business" />
            </intent-filter>
        </receiver>
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
         <meta-data
            android:name="JPUSH_APPKEY"
            android:value="eb6f42381d651a47581cd2fc" />
    </application>
</manifest>