@{
    List<Model.Table_Model.Branch_Model> listBranch = new List<Model.Table_Model.Branch_Model>();
    if (ViewBag.BranchList != null)
    {
        listBranch = ViewBag.BranchList;
    }

}
 @if (listBranch != null && listBranch.Count > 0)
                            {
<div class="page-container">
    <!-- Page Sidebar -->
    @Html.Partial("Sidebar", 14)
    <!-- /Page Sidebar -->
    <!-- Page Content -->
    <div class="page-content">
        <!-- Page 面包屑 -->
        <div class="page-breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/Home/Index">首页</a>
                </li>
                <li>账户顾客关系</li>
            </ul>
        </div>
        <!-- /Page 面包屑 -->
        <!-- Page Header -->
        <div class="page-header position-relative">
            <div class="header-title">
                <h1>账户顾客关系</h1>
            </div>
            <!--Header Buttons-->
            <div class="header-buttons">
                <a class="sidebar-toggler" href="#">
                    <i class="fa fa-arrows-h"></i>
                </a>
                <a class="refresh" id="refresh-toggler" href="">
                    <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a class="fullscreen" id="fullscreen-toggler" href="#">
                    <i class="glyphicon glyphicon-fullscreen"></i>
                </a>
            </div>
            <!--Header Buttons End-->
        </div>
        <!-- /Page Header -->

        <!-- Page Body -->
        <div class="page-body">
            <div class="form-group navbar-form">
                <div class="btn-group select-div">
                    <div class="select-titel">选择门店:</div>
                    <select class="select-control" id="ddlBranch" onchange="changeBranch()">
                        @foreach (Model.Table_Model.Branch_Model item in listBranch)
                                {
                            <option value="@(item.ID)">@(item.BranchName)</option>
                                }
                        
                    </select>
                </div>
                <div class="btn-group select-div">
                    <div class="select-titel">选择顾问:</div>
                    <select class="select-control" id="ddlType" onchange="changeType()">
                        <option value="1">专属顾问</option>
                        <option value="2">销售顾问</option>
                    </select>
                </div>
            </div>

            <div class="widget-body no-padding">

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-3 margin-top-20">
                        <table class="table table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-12">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="pull-left label-m"><strong>按员工搜素顾客</strong></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="txtSearchAccount1" placeholder="请输入员工姓名/电话" class="form-control" onkeyup="showAccountList1()">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding">
                                        <div class="over-down-tb">
                                            <table id="tbAccount1" class="table table-hover margin-top-1"></table>
                                        </div>

                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>共 <span class="label label-success" id="AccountCnt1"></span>人</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-md-3 margin-top-20">
                        <table class="table table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-12">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary pull-left" onclick="selectAllCustomer()">全选/反选</button>
                                            <label class="pull-left col-sm-3 label-m"><strong>顾客姓名</strong></label>
                                            <div class="col-sm-6">
                                                <input type="text" id="txtSearchCustomer" placeholder="请输入顾客姓名/电话" style="min-width: 160px;" class="form-control" onkeyup="showCustomerList(0)">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding">
                                        <div class="over-down-tb">
                                            <table class="table active-table table-hover margin-top-1" id="tbCustomer">
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>

                                    <td>共 <span class="label label-success" id="CustomerCnt"></span>人
                                        <button type="submit" class="btn btn-primary pull-right" onclick="showAllCustomer()">ALL</button>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-xs-1 arrow-client">
                        <i class="fa fa-arrow-right fa-5x"></i>
                    </div>

                    <div class="col-md-3 margin-top-20">
                        <table class="table table-bordered">
                            <colgroup class="row">
                                <col class="col-xs-12">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="form-group">
                                            <label class="pull-left label-m"><strong>选择</strong></label>
                                            <label class="pull-left col-sm-3 label-m"><strong>员工姓名</strong></label>
                                            <div class="col-sm-6 no-padding-left">
                                                <input type="text" id="txtSearchAccount2" placeholder="请输入员工姓名/电话" class="form-control" onkeyup="showAccountList2(1)">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="no-padding">
                                        <div class="over-down-tb">
                                            <table id="tbAccount2" class="table table-hover margin-top-1"></table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td>共 <span class="label label-success" id="AccountCnt2"></span>人</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <br>
                <div class="col-sm-offset-1 no-padding-left col-sm-10">
                    <button type="submit" class="btn btn-primary" onclick="submit()">确 定</button>
                </div>
                <br>
                <br>
                <br>
            </div>
            <input type="hidden" id="hidData" />
        </div>
        <!-- /Page Body -->

    </div>
    <!-- /Page Content -->
</div>
 }else{
    <script>alert("请先添加门店");
        location.href = "/Branch/GetBranchList";
    </script>
     
 }
<script src="/Script/RelationShip.js"></script>
<script src="/Script/json2.js"></script>
