@{
    ViewBag.Title = "商家详情";
    //Model.View_Model.PromotionDetail_Model model = Model;
}

<div class="detailImg width100">
    <img src="/pic/demo1.png" alt=""></div>
<div class="bkgColor3 textC pTB2P lineHeight1_5x font18">上海美业集团</div>
<div class="wrapper whiteBkg">
    <div class="width90 blockC P10Table">
        <ul class="width100 rowUl">
            <li class="borderB clearfix"><a href="#" class="block">
                <div class="blackTex width30 fl">简称</div>
                <div class="grayTex textR fr">小张美业</div>
            </a></li>
            <li class="borderB clearfix"><a href="#" class="block">
                <div class="blackTex width30 fl">联系人</div>
                <div class="grayTex fr">张帅</div>
            </a></li>
            <li class="borderB clearfix"><a href="#" class="block">
                <div class="blackTex width30 fl">电话</div>
                <div class="grayTex fr">021-12345678</div>
            </a></li>
            <li class="borderB clearfix"><a href="#" class="block">
                <div class="blackTex width30 fl">传真</div>
                <div class="grayTex fr">021-12345678</div>
            </a></li>
            <li class="borderB clearfix"><a href="#" class="block">
                <div class="blackTex width30 fl">网址</div>
                <div class="grayTex fr">www.hsquare-tech.com</div>
            </a></li>
            <li class="borderB clearfix">
                <div class="PT15 PB15">
                    <h4 class="blackTex">简介</h4>
                    <p class="grayTex MT10 lineHeight1_5x">上海美业集团是经市劳动和社会保障局批准成立的一所国际权威性的美容美发机构</p>
                </div>
            </li>
            <li class="borderB clearfix"><a href="#">
                <div class="blackTex fl">门店（<font class="color1">3</font>）</div>
                <div class="fr">
                    <img src="/pic/rightArrow.png" height="20"></div>
            </a></li>
        </ul>
    </div>
</div>


