@{
    int productType = ViewBag.ProductType;
    int categoryID = ViewBag.CategoryID;
    string targetUrl = "";

    if (productType == 1)
    {
        ViewBag.Title = "商品分类";
        targetUrl = "/Product/CommodityDetail";
    }
    else
    {
        ViewBag.Title = "服务分类";
        targetUrl = "/Product/ServiceDetail";
    }


    Model.View_Model.ProductListInfo_Model model = Model;
    List<Model.View_Model.ProductList_Model> productList = new List<Model.View_Model.ProductList_Model>();
    if (model != null)
    {
        productList = model.ProductList;
        ViewBag.Title = model.CategoryName;
    }
}

<div class="wrapper whiteBkg PT20">
    <div class="width90 blockC ">
        @{
            if (productList != null && productList.Count > 0)
            {
            <ul class="P10Table width100">
                @{
                    foreach (Model.View_Model.ProductList_Model item in productList)
                    {
                        <li class="borderB clearfix PB10">
                            <a href="@(targetUrl)?lc=@(item.ProductCode)">
                                <div class="width120P fl width35">
                                    <div class="imgArea bkgColor1 viewImgArea">
                                        <img src="@(item.ThumbnailURL)" alt="">
                                    </div>
                                </div>
                                <div class="fl width60 positionR">
                                    <p class="MT25">@(item.ProductName)</p>
                                    <h4 class="strong blackTex font20 MT15 longTex color1">￥@(item.UnitPrice.ToString("0.00"))</h4>
                                    <span class="rightArrowRow">
                                        <img src="/pic/rightArrow.png" height="20"></span>
                                </div>
                            </a>
                        </li>
                    }
                }
            </ul>
            }
        }
    </div>
</div>
