{
  "Info": [
    {
      "CompanyID": "45", 
      "APPID": "wx1aa3ce096117de41", 
      "APPSECRET": "4102cb1d0d07f2f244d8a6246c678e2c", 
      "Token": "ASc3aoDco4a4fa8DaDF", 
      "EncodingAESKey": "SsvJYPWZ4u2Dt7orPAjmnR2qEqpYa2kTH023waoWkrZ", 
      "AccountChangesTemplate": "RKGzlOqGJIe6vt-juq06VwoB37fndNb15fOsZmZahjE",
      "ReservationSuccessTemplate": "UWtzAQOb6R7J6n6OI1u29Cuq3cUwRRF2ewL87EQKd_A",
      "ReservationCancelTemplate": "YIwmiyMuK6dXW2rajvmnbBQ64Jhm1n21fAUMo8oVjLA",
      "OrderCompleteTemplate": "GW6gS20eOVwKmANa8Z_gGBHYRE_dXr3smZ4AOheUqp4"
    }, 
    {
      "CompanyID": "46", 
      "APPID": "wx90954065982d2e76", 
      "APPSECRET": "5c0927c516ee4890329ba77178ecfe48", 
      "Token": "ADSf2zdsga34asdfvcSDfsdcv", 
      "EncodingAESKey": "Qxmn0ReZD9cNGCjdxTuwntnlbSoKEeFe3O497KpQyf9", 
      "AccountChangesTemplate": "KV9bXvzLit2D1YMpw8SUPGR9NtNd1W8sNU90Nqsz-jQ",
      "ReservationSuccessTemplate": "zuMPb_ZM4vLMqFk6l0xxKWBwBwUCoyjftgC7bTG3B6Q",
      "ReservationCancelTemplate": "A7t86SXj-QcUyMLT5-OTVoOVehsRSbU0XkWWkKEoYNg",
      "OrderCompleteTemplate": "V0pi0Q6_5FRNRRAw-shwTA9V5n9jndR2dE1LqZ32fMI"
    }, 
    {
      "CompanyID": "17", 
      "APPID": "wxe79f14cb1fe9fa16", 
      "APPSECRET": "34905fcf864ffe700bc1fdb83b77210e", 
      "Token": "gasdjfhdsajkfhdksljadsjkvvcxc", 
      "EncodingAESKey": "qNni9nwD4SKA0f3NFOq7UObnxXVWzcBXphKqLmmTnlo", 
      "ScdlTemplateID": "gIMQjZrJ_zwb4xjZ2Tm_Lgqo6zJFitOZhW1F0oFOr38"
    }, 
    {
      "CompanyID": "66", 
      "APPID": "wx6d5b88114eb2787c", 
      "APPSECRET": "c50d32e26db812aed0bd3dc751721b9a", 
      "Token": "asdfsafasdfasdfzxcxczvasdf", 
      "EncodingAESKey": "PXKKARM9HirsqhLTyXWKfu3OpirLqB9rB52hcsK5zT0", 
      "ScdlTemplateID": ""
    }, 
    {
      "CompanyID": "14", 
      "APPID": "wx6aa3f8996a378064", 
      "APPSECRET": "6a344f302afb490b01528e5de694070e", 
      "Token": "68fb0bc424eada1cec7785871d5fc281", 
      "EncodingAESKey": "ccCgIkTDrcRZotXqOVKuyaCWOdMalsnouPudZoHqrut", 
      "AccountChangesTemplate": "c3iZSiwoRNJn6djWQquoQOVDagNV4yt0gUE3c7iSgaY",
      "ReservationSuccessTemplate": "phF0QZCUpvfYcHc0H3pkyQK1xQtFraC-M4FvXTcUiVE",
      "ReservationCancelTemplate": "jckRkSdjjSo7gYocAcLqAYUYeqnSuFtMuZt3QGDOiYA",
      "OrderCompleteTemplate": "hkXerMW9CXDQjJCNe6cOL9ntVidg6XxsNlqBAhFG9Hk"
    }, 
    {
      "CompanyID": "61", 
      "APPID": "wx033b3e2f1efd32e8", 
      "APPSECRET": "de691737dbdcdfce326b3738ed7e18e3", 
      "Token": "ckcxnkjjlkckjASDcljkdkljcnjcsjk", 
      "EncodingAESKey": "13VyEOCaGm2UrIWihOvdCxW6SEG3u7mZ1bTDr5OUniz", 
      "ScdlTemplateID": ""
    }
  ]
}