@{
    ViewBag.Title = "找回密码";
    string RSA_E = ViewBag.RSA_E;
    string RSA_M = ViewBag.RSA_M;
}

<script src="/js/BigInt.js"></script>
<script src="/js/Barrett.js"></script>
<script src="/js/RSA.js"></script>
<script src="/js/CodeManage.js"></script>
<form id="formReset" method="post">
    <script src="/Scripts/jquery.timers-1.2.js"></script>
    <script src="/Scripts/ResetPassword.js"></script>
    <div class="part width100 whiteBkg MT20">
        <div class="width100 blockC">
            <ul class="width95 rowUl textL ML5P">
                <li class="borderB">
                    <input type="tel" class="width95 inputBox" id="txtMobile" name="txtMobile" placeholder="请输入手机号">
                </li>
                <li>
                    <input type="password" id="txtCode" class="width40 inputBox" placeholder="请输入验证码">
                    <a class="bkgColor1 bkgOpacity7 width55 textC whiteTex fr clearfix" id="btnCode"><span>获取验证码</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="width90 blockC MT30 MB30"><a class="btnLarge bkgColor1 width100" onclick="checkAuthenticationCode('@(RSA_E)','@(RSA_M)')">下一步</a></div>
    <input name="txtData" id="txtData"  type="hidden" />
    <script>
        $(function () {
            $("#btnCode").bind("click", function () {
                getAuthenticationCode('@(RSA_E)','@(RSA_M)');
            });
        })
    </script>
</form>
